$primary-color-100: #d0ebff;
$primary-color-200: #a5d8ff;
$primary-color-500: #2563eb;
$primary-color-900: #1864ab;

$gray-color-000: #f8fafc;
$gray-color-100: #f1f5f9;
$gray-color-300: #dee2e6;
$gray-color-400: #94a3b8; 
$gray-color-500: #f8f9fa;
$gray-color-600: #868e96;
$gray-color-800: #334155;
$gray-color-900: #1e293b;

$dangerous-color-500: #f43f5e;
