.header {
  padding: 3.2rem 6.4rem;
  margin-bottom: 2.4rem;
  .logo {
    color: $primary-color-500;
    font-size: 3.2rem;
    font-weight: 700;
  }
}
.container {
  max-width: 64rem;
  margin: 0 auto;
  h2 {
    color: #334155;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 140%; /* 4.48rem */
    margin-bottom: 32px;
  }
}
.footer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3.2rem;
  background: #f8fafc;
}
.containerProgressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #f1f5f9;
  height: 0.5rem;

  .progressBar {
    transition: all 0.3s ease;

    width: 20%;
    height: 0.5rem;
    background: #2563eb;
  }
}

.containerButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;

  .prev {
    color: #94a3b8;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: capitalize;
  }
  .next {
    color: $gray-color-000;
    font-size: 1.6rem;
    font-weight: 600;

    padding: 1.2rem 2.4rem;

    border-radius: 0.4rem;
    background: #2563eb;
  }
}
