.container {
  width: 100%;
  background: $primary-color-500;
  color: $gray-color-000;
  padding: 1.2rem 0;
  border-radius: 0.4rem;
  font-size: var(--poppins-fonts);
  font-size: 1.6rem;
  font-weight: 600;
  transition: background 0.3s ease;
  height: 4.8rem;

  &:hover {
    background-color: #3b82f6;
  }
}
