.containerRooms {
  display: flex;
  flex-wrap: wrap;
  max-width: 64rem;
  gap: 2rem 1.6rem;
  padding-bottom: 14rem;
}
.labelRoom {
  border-radius: 0.8rem;
  border: 1px solid #e2e8f0;

  padding: 1.2rem 1.6rem;
  span {
    color: #94a3b8;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: capitalize;
  }
  input {
    display: none;
  }
}
