.container {
  display: grid;
  padding-top: 71px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .content {
    padding-left: 9rem;
  }

  .header {
    padding: 3.2rem 0 2.4rem 6.4rem;
    border-bottom: 1px solid #e2e8f0;
  }

  .title {
    color: $gray-color-900;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 120%; /* 3.84rem */
    text-transform: capitalize;
    margin-bottom: 0.8rem;
  }
  .description {
    color: $gray-color-400;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
  }
}
