.container {
  margin: 0 auto;
  display: flex;
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;
}
.leftSide {
  margin-top: 1.6rem;
  padding-left: 6.4rem;
  min-width: 69.3rem;
  .logo {
    color: $primary-color-500;
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  .content {
    padding: 8.8rem 0 0 8rem;
    max-width: calc(42.3rem + 8rem);
  }
}

.rightSide {
  width: 100%;

  background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%),
    // url('/assets/imgs/house-main.jpg');
    url('https://source.unsplash.com/random/?house');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;

  h3 {
    position: absolute;
    bottom: 4.8rem;
    left: 4rem;
    max-width: 29.3rem;
    color: $gray-color-000;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 130%;

    span {
      color: $primary-color-500;
    }
  }
}

@media (max-width: 900px) {
  .rightSide {
    display: none;
  }
  .leftSide {
    padding: 0 3.2rem;
    margin: 3.2rem auto;
    min-width: 100%;
    display: flex;

    flex-direction: column;
    width: 100%;
    .content {
      align-self: center;
      width: 100%;
      padding: 4.8rem 0 0 0;
    }
  }
}
