.labelRoom {
  display: block;
  border-radius: 0.8rem;
  border: 1px solid #e2e8f0;
  cursor: pointer;
  padding: 1.2rem 1.6rem;
  transition: all 0.3s ease;
  span {
    color: #94a3b8;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: capitalize;
  }

  input:checked + & {
    background-color: rgb(37, 99, 235, 0.2);
    border-color: $primary-color-500;
    span {
      color: $primary-color-500;
    }
  }
}
