.form {
  display: grid;
  gap: 2.4rem 3.2rem;
  padding-bottom: 14rem;
}

.principal {
  grid-template-columns: 1fr 1fr;

  label[for='title'],
  label[for='description'] {
    grid-column: 1/3;
  }
}

.location{
  grid-template-columns: 1fr 1fr;

  label[for='district']{
    grid-column: 1/3;
  }
}

.contacts{
  grid-template-columns: 1fr 1fr;

}